* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  list-style: none;
}

a {
  color: $Very-dark;
}

html {
  font-size: 62.5%;
}

img {
  display: block;
  max-width: 100%;
}

p{
  color: $Dark-grayish;
}